{% extends "base-main.html" %}


{% block headTitle %}{{meetingRooms[roomID]}}{% endblock %}


{% block head %}
  {{parent()}}
  <link href="node_modules/reveal.js/css/reveal.css" rel="stylesheet">
  <link href="node_modules/reveal.js/css/theme/league.css" rel="stylesheet">
{% endblock %}


{% block bodyContent %}
  <div class="reveal">
    <div class="slides">
      <section>
          <h1 id="roomName">{{meetingRooms[roomID]}}</h1>
          <ul>
            <li>
              <h2 id="title"></h2>
            </li>
            <li><h2 id="time"></h2></li>
            <li><h2 id="register"></h2></li>
          </ul>
      </section>
    </div>
  </div>
{% endblock %}


{% block bodyFooter %}
  {{parent()}}
  <script src="node_modules/reveal.js/js/reveal.js"></script>
  <script>
    $(document).ready(function () {
      updatePage()
      Reveal.initialize({
        width: "100%",
        height: "100%",
        margin: 0.1,
        minScale: 1,
        maxScale: 1
      })
      setInterval(updatePage, 30*1000) //30秒更新一次
    })

    function updatePage(){
      $.get('?ajax=getCurrentEvent&roomID={{roomID}}', function(data){
        if(data.length>0){
          $('#title').html('會議名稱 : <b>' + data[0].title + '</b>')
          $('#time').html('時間 : ' + moment(data[0].start).format('HH:mm') 
            + ' - ' + moment(data[0].end).format('HH:mm')
            )
          $('#register').html('登記人 : ' + data[0].register)
        }else{
          $('#title').html('')
          $('#time').html('')
          $('#register').html('')
        }
      })
    }
  </script>
{% endblock %}