{% extends "base-main.html" %}

{% block headTitle %}會議室管理{% endblock %}

{% block head %}
  {{parent()}}
  <link href="node_modules/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/toastr/build/toastr.min.css"> 
{% endblock %}

{% block headExtra %}
<style>
  html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  #calendar {
    max-width: 920px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block bodyContent %}
  {{parent()}}
  <div id='calendar'></div>

  {# modal form #}
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form method="post" enctype="multipart/form-data" id="form">
            <input id="id" type="hidden" name="id" disabled>
            <input type="hidden" name="roomID" value="{{roomID}}">
            <div class="form-group row">
              <label for="title" class="col-sm-3 col-form-label">會議名稱</label>
              <div class="col-sm-9">
                <input name="title" id="title" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="register" class="col-sm-3 col-form-label">登記人</label>
              <div class="col-sm-9">
                <input name="register" id="register" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="start" class="col-sm-3 col-form-label">開始時間</label>
              <div class="col-sm-9">
                <input name="start" id="start" type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="end" class="col-sm-3 col-form-label">結束時間</label>
              <div class="col-sm-9">
                <input name="end" id="end" type="text" class="form-control" readonly>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger mr-auto" onclick="delEvent()" id="delEvent">刪除</button>
          <button type="button" class="btn btn-primary" onclick="saveForm()">送出</button>
        </div>

      </div>
    </div>
  </div>  
{% endblock %}

{% block bodyFooter %}
  {{ parent() }}
  <script src="node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="node_modules/fullcalendar/dist/locale/zh-tw.js"></script>
  <script src="node_modules/toastr/build/toastr.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        locale: 'zh-tw',
        defaultView: 'agendaWeek',
        selectable: true,
        events: 'listEvent.php?roomID={{roomID}}',
        header: {
          left: 'prev,next',
          center: 'title',
          right: 'month,agendaWeek'
        },
        businessHours:{ //顯示上班時間,區塊顏色會不同.
          dow: [1,2,3,4,5],
          start: '07:00',
          end: '19:00'
        },
        allDaySlot: false, //顯示在網頁上的時間範圍
        minTime: '07:00:00',
        maxTime: '21:00:00',
        select: function(startDate, endDate){
          if(this.type!=='agendaWeek') return false
          initForm(0, startDate.format(), endDate.format())
        },
        eventClick: function(eventObj){
          initForm(eventObj.id)
        }
      })
    })

    function initForm(id, startDate, endDate){
      if(id>0){//修改,經ajax取得欄位資料
        $('#modalLabel').html('修改 會議')
        $.get('?ajax=getEvent&id='+id, function(data){
          $('#id').prop('disabled', false).val(data.id);
          $('#delEvent').prop('disabled', false)
          $('#title').val(data.title)
          $('#register').val(data.register)
          $('#start').val(data.start)
          $('#end').val(data.end)
        })
      }else{//新增,重置欄位
        $('#modalLabel').html('新增 會議')
        $('#id').prop('disabled', true)
        $('#delEvent').prop('disabled', true)
        $('#title').val('')
        $('#register').val('')
        $('#start').val(startDate)
        $('#end').val(endDate)
      }
      $('#modalForm').modal('show')
    }

    function saveForm(){
      let formData = new FormData($('form')[0])
      let errMsg = ''
      if($('#title').val().length===0) errMsg += "須填寫 會議名稱<br>"
      if($('#register').val().length===0) errMsg += "須填寫 登記人<br>"
      if(errMsg.length>0) {
        toastr.error(errMsg)
        return false
      }
      $.ajax({
        url: '?ajax=saveEvent',
        type: 'POST',
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
      }).done(function(data){
        console.log(data)
        if(data.result==='success'){
          $('#calendar').fullCalendar( 'refetchEvents' )
          $('#modalForm').modal('hide')
        }else{
          toastr.error(data.errMsg)
        }
      })
    }

    function delEvent(){
      let id = $('#id').val()
      $.get('?ajax=delEvent&id='+id, function(data){
        if(data.result==='success'){
          $('#calendar').fullCalendar( 'refetchEvents' )
          $('#modalForm').modal('hide')
        }
     })
    }

  </script>
{% endblock %}
